@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Parkinsans";
  src: url("./fonts/Parkinsans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Gamer";
  src: url("./fonts/Gamer.ttf") format("truetype");
}

body {
  font-family: "Parkinsans", "arial";
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 8, 223, 1) 76%,
    rgba(0, 212, 255, 1) 100%
  );
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 10%;
}
